// compileCompressed: ../css/$1.css

@import 'reset.scss';

// Components

body {
  font: 16px/18px 'Open Sans';
}

.clear {
  clear: both;
}

h2 {
  color: rgb(74, 74, 74);
  font-size: 28px;
  text-align: center;
}

.bold {
  font-weight: bold;
}

// Section
// @import 'section/landing.scss';
$header-height: 60px;

header.header {
  position: fixed;
  top: 0; left: 0; right: 0;
  z-index: 2;
  padding: 20px;
  height: $header-height;
  // background: green;

  img.header-logo {
    height: 40px;
    margin-right: 10px;
  }

  img.header-logo, .header-title {
    display: inline-block;
    vertical-align: baseline;
  }

  .header-title {
    color: white;
    font-size: 24px;
    font-weight: bold;
  }

  nav.nav {
    position: absolute;
    right: 0; top: 0; bottom: 0;
    height: 100%;
    padding: 0 20px;

    &:before {
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle;
    }

    .nav-item {
      color: #4a4a4a;
      text-decoration: none;
      // padding: 21px 20px;
      vertical-align: middle;
      display: inline-block;
      margin-left: 10px;


      transition: color 0.3s;

      &:hover {
        color: #2d3245;
      }
    }

    .nav-item-subscribe {
      padding: 8px 15px;
      border: 1px solid #2d3245;
      color: #2d3245;
      border-radius: 6px;

      transition: background 0.3s, color 0.3s;

      &:hover {
        background: #2d3245;
        color: white;
      }
    }
  }
}

$background-height: 80vh;
section.background {
  position: absolute;
  top: 0; left: 0; right: 0;
  height: 70vh;
  overflow: hidden;
  background: white;

  &:after {
    content: '';
    position: absolute;
    width: $background-height * 2;
    height: $background-height * 2;
    left: -70vh;
    bottom: -80vh;
    transform: rotate(-45deg);
    background: #2d3245;
  }
}

section.background.fixed {
  position: fixed;
  top: calc(-70vh + 60px);
  background: white;
  z-index: 1;
}

section.background2 {
  display: none;
  position: fixed;
  top: calc(-70vh + 60px); left: 0; right: 0;
  height: 70vh;
  z-index: -2;

  &:after {
    content: '';
    position: absolute;
    width: $background-height * 2;
    height: $background-height * 2;
    left: -70vh;
    bottom: -80vh;
    transform: rotate(-45deg) scaleY(3);
    background: #2d3245;
  }
}

body.fixed section.background2 {
  display: block;
}

section.landing {
  position: relative;
  height: 70vh;

  .landing-computer {
    position: absolute;
    width: 100%;
    max-width: 860px;
    bottom: -96px;
    left: -15px;
  }

  .landing-content {
    position: absolute;
    top: 50%;
    right: 5vw;
    width: 40vw;
    transform: translateY(-50%);
    text-align: center;

    &-title {
      font-size: 30px;
      color: #8ac2e2;
      font-family: 'Raleway';
    }

    &-message {
      text-align: center;
      margin-top: 25px;
      color: #4a4a4a;
      font-size: 18px;
      line-height: 1.8;
      padding: 0 40px;
    }

    &-subscribe {
      display: inline-block;
      margin: auto;
      margin-top: 20px;
      background: #89deed;
      padding: 10px 20px;
      border-radius: 4px;
      color: white;
      cursor: pointer;
      transition: background 0.3s;

      &:hover {
        background: #8ac2e2;
      }
    }
  }
}

section.products {
  min-height: 100vh;
  background: #fafafa;

  .products-wrapper {
    max-width: 1080px;
    padding: 100px 20px;
    margin: auto;
  }

  article {
    font-size: 0.0001;
    aside, .article-wrapper {
      width: 50%;
      padding-top: 50%;
      float: left;
    }

    aside {
      background: #8ac2e2;
    }

    .article-wrapper {
      background: white;
      position: relative;
      // padding: 20px;
    }

    .article-content {
      position: absolute;
      top: 50%; left: 50%;
      width: 320px;
      padding: 20px;
      max-width: 100%;
      max-height: 100%;
      color: #7D8FA0;
      transform: translate(-50%, -50%);

      &-title {
        text-transform: uppercase;
        font-size: 15px;
        margin-bottom: 20px;
      }

      &-subtitle {
        color: rgb(74, 74, 74);
        font-size: 24px;
        margin-bottom: 15px;
      }
    }
  }
}

section.prices {
  position: relative;
  height: 100vh;
  padding: 40px 0;
  overflow: hidden;

  &:before {
    content: "";
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 50%;
    background: #fafafa;
  }

  .prices-background {
    position: absolute;
    top: 0; left: 0;
    height: calc(100vh - 100px);
    width: 200vw;
    background: white;
    transform: rotate(-2deg) translateX(-50vw);
    transform-origin: center;
  }

  .prices-wrapper {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
  }
}

section.team {
  min-height: 100vh;
  background: transparent;
  position: relative;

  .team-wrapper {
    position: absolute;
    top: 25%;
    right: 0;
    width: 25%;
  }
}
